@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.App {
  /* text-align: center; */
  font-family: 'Inter', sans-serif;
  /* max-width: 1440px; */
  min-width: 375px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h1{
  font-size: 64px;
}
p{
  margin:0;
}


